1. Your Biometrics will be mandatorily captured at Immigration on arrival in India.
2. ETA(Electronic Travel Authorization)(This Email Letter) is required on first entry to get e-Visa stamp/sticker on your passport
3. Your entry can still be refused at the time of arrival.
4. This ETA is not valid for entry through other Airports or Seaports which are not included in the list of designated e-Visa Airports/Seaports.
5. You MUST invariably carry the original passport against which the ETA has been granted
