Django==4.2
openai
python-dotenv
python-docx
PyPDF2
python-magic
django-crispy-forms

pip install python-magic-bin==0.4.14  # Windows
# or
sudo apt-get install libmagic1        # Linux
pip install transformers requests

sudo apt-get install libmagic1 #linux
